*{
    margin: 0;
    padding: 0;
}
.sidebar{
    position: absolute;
    background-color: rgb(103, 95, 95);
    height: 100vh;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
}

.main{
    /* background-color: rgb(114, 121, 126); */
    width: 90vw;
    padding: 45px;
}
.container{
    display: flex;
}
.infoContainer{
    /* background-color: rgb(233, 139, 139); */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    
    
}
.devInfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 3em;
}
.name{
    font-size: 3em;
    font-weight: bold;
}
.about{
    font-size: 2.5rem;

}
.moreabout{
    font-size: 2em;
    margin-top: 23px;
}
.buttons {
    margin-top: 34px;
    font-size: 16px;

}
.btn{
    padding:9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(36, 36, 93);
    font-size: 2em;
    margin: 3px 3px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: rgb(29, 29, 61);
    
}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}

.devPic img{
    width: 40vh;
    
}
.contactform{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 0 34px;
margin:88px;
}
.contactform h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* padding: 12px 0; */

}
.contactform form div{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.contactform form  div input{
    /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
.contactform form{
    margin: 0 40px;
}
.emailhelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 2px;
    margin: 3px 0;
}
.blogItem{
    margin: 20px;

}
.blogContainer{
    margin: 40px 88px;
}
h1{
    margin: 23px;

}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.intro{
    margin: 40px 88px;
}
.intro h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 12px;

}
.intro p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 12px;

}
.skillcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
    font-weight: 900px;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 5px;
}
.hundred{
    width: 265px;
    background-color: orangered;

}
.fifty{
    width: 125px;
    background-color: pink;
}
.t5{
    width: 75px;
    background-color: brown;
}
.sidebargo{
    transform: translate(-443px, 0px);
    position: absolute;
}
.hamburg{
    position: absolute;
    cursor: pointer;
    top: 10px;
}
.ham{
    margin-left: 10px;
    margin-right: 10px;

    }
.cross{
    margin-left: 150px;
    margin-top: 0px;
}
/* not work */
@media (max-width: 1615px) {
    *{
        /* background-color: blue; */ 
    }
    .buttons{
        font-size: 6px;
    }
    .devInfo{
        font-size: 10px;
    }
    .devPic{
    
    }
    .intro, .blogContainer,.contactform{
        margin: 50px 8px;
    }
}    
 